*{
    margin: 0;
    padding: 0;
}
/* banner start */
.banner{
    width: 100%;
    height: 80vh;
    background: url(images/banner3.png);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: end;
    align-items: center;
}
.banner-details{
    width: 40%;
    padding: 0 50px; 
}
.banner-title{
    color: white;
    font-size: 25px;
}
.banner-description p{
    color: white;
    font-size: 18px;
    padding: 20px 0;
    line-height: 30px;
}
.banner-btn{
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 20px;
    border: none;
    background-color: rgb(85, 186, 226);
    transition: 0.5s;
}
.banner-btn:hover{
    background-color: rgba(27, 109, 141, 0.582);
    color: white;
}

/* My failure previous year start */
.my-failure{
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px 50px;  
}
.my-failure-image{
    width: 60%;    
}
.my-failure-image img{
   width: 80%;
   object-fit: cover;
   border-radius: 8px;
   box-shadow: 0px 2px 15px #00000094;;
}
.my-failure-details{
    width: 40%;
    padding: 20px 0;
}
.my-failure-details h1{
    font-size: 30px;
}
.my-failure-details p{
    font-size: 20px;
    padding: 25px 0;
    line-height: 30px;
}
.my-failure-list{
    list-style: none;
}
.my-failure-list li{
    margin-bottom: 10px;
    font-size: 18px;
}
.list-icon{
    font-size: 20px;
    color: skyblue;
    font-weight: bold;
    margin-right: 10px;
}

/* My Plans */
.my-plan{
    width: 80%;
    margin: auto;
}
.my-plan-item{
    display: flex;
    justify-content: space-between;
    padding: 50px 50px;
    gap: 20px;
}
.my-plan-heading{
    text-align: center;
}
.my-plan-details{
    text-align: center;
    padding: 25px 10px;
    border-radius: 8px;
    height: 180px;
    box-shadow: 1px 3px 11px grey;
    transition: 0.5s;
}
.my-plan-details:hover{
    background-color: rgba(158, 151, 151, 0.479);
}

.my-plan-details img{
    width: 50px;
}

.my-plan-details h1{
    font-size: 20px;
    padding: 15px 0;
}

/* display banner start */
.display-banner{
    width: 80%;
    margin: auto;
    background: linear-gradient(to right, #005facd0 0%, rgba(9, 97, 168, 0.212) 100%),url(images/watch.png),  url(images/gradient1.png);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 80px 40px;
    margin-bottom: 30px;
    border-radius: 8px;
}

.display-banner h1 span{
    color: white;
}

.display-banner h1{
    font-size: 50px;
    padding-bottom:30px;
}
.dis-banner-btn{
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 20px;
    border: none;
    background-color: white;
    transition: 0.5s;
}
.dis-banner-btn:hover{
    background-color: #0a3150;
    color: white;
}

/* footer start here */
.footer{
    width: 100%;  
    background-color: black;
}

.footer-details{
    width: 80%; 
    margin: auto;
    display: flex;
    justify-content: space-between;
    color: white;
    align-items: center;
    padding: 60px 0 60px 120px;
}

.future{
    width: 45%;
    padding: 50px 30px 50px 50px;
}

.future h1{
    font-size: 35px;
}
.future-span{
    color: blue;
    font-size: 45px;
}

.future p{
    font-size: 20px;
    padding: 10px 0;
    width: 80%;
    line-height: 30px;
}
.contact-icon{
    color: #006aff;
    font-size: 20px;
    margin-right: 10px;
    
}
.future a{
    text-decoration: none;
}

.future img{
    margin-right: 15px;
    font-size: 22px;
    border: 2px solid #006aff;
    border-radius: 50%;
}
.subscribe{
    width: 45%;
    padding: 50px 30px 50px 130px;
}
.subs-header{
    font-size: 25px;
    margin-bottom: 20px;
}

.input-email{
    height: 40px;
    width: 60%;
    display: block;
    border-radius: 8px;
    margin: 25px 0;
    padding-left: 15px;
    outline: none;
}
.input-btn{
    font-size: 20px;
    padding: 15px 20px;
    background-color: #005fac;
    border-radius: 8px;
    color: white;
    transition: 0.5s;
}
.input-btn:hover{
   background-color: rgb(44, 151, 194);
}
hr{
    width: 70%;
    margin: auto;
    margin-bottom: 10px;
}
.copyright{
    color: white;
    font-size: 20px;
    text-align: center;
    padding-bottom: 20px; 
}


.copyright a{
    text-decoration: none;
    color: white;
    font-size: 25px;
    transition: 0.5s;
}
.copyright a:hover{
    color: #006aff;
}